[submodule "prezto"]
    path = prezto
    url = https://github.com/ajb3ll/prezto.git
    user = ajb3ll
    token = token
	branch = master
[submodule "zim"]
	path = zim
	url = https://github.com/ajb3ll/zim.git
